{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=200px width=200px>
        </div>
        <h3>Hey! I'm <strong>Jeong</strong>. I'm a predental Biology student at UT Austin.</h3>
        <h3>I'm interested in the sciences and working with R Studio and Python. I hope to one day open my own practice to treat patients and teach them about dental health!</h3>
        <h3>Take a look at my previous<a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more about me, check out my academic &amp; professional <a href="/resume.pdf">resume</a>.</h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
